doctype html
html
    head
        meta(charset="UTF-8")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        title App
        link(href='https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,400;1,900&display=swap', rel='stylesheet')
        //- link(href='/assets/fontawesome/css/all.min.css', rel='stylesheet')
        link(href='/assets/css/style.css', rel='stylesheet')
        script(src='/assets/js/gooby.js')
        block scripts
    body
        #app-root.theme-light
            .app-container
                block layout-content

                